body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

/*Header Section*/

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  font-size: 15px;
}

h1 {
  margin-bottom: 0;
  vertical-align: baseline;
}

/*Navbar Section*/

#nav-bar {
  text-decoration: none;
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/*Form Section*/

form {
  text-align: center;
  max-width: 450px;
  margin: auto;
  margin-top: 150px;
}

#email {
  display: block;
  margin: 15px auto;
  padding: 5px;
  width: 65%;
}

#submit {
  background-color: orange;
  border: none;
  padding: 7px 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
	border-radius: 5px;
}

/*Features Section*/

.feature-item {
  display: flex;
}

.icon {
  color: orange;
  font-size: 50px;
  width: 20%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 140px;
}

.item-info h2, p {
  margin:0;
  padding: 0;
}

/*Work Section*/

#work {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/*Pricing Section*/

#pricing {
  display: flex;
  justify-content: space-around;
}

.product {
  max-width: 33%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 8px grey;
}

.product h3 {
  padding: 10px 0;
	color:  #212529;
  background-color: #adb5bd;
  margin: 0;
}

.product img {
  width: 100%;
  height: auto;
}

.product ol {
  list-style: none;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
}

.product ol li {
  padding: 8px 0;
}

#btn {
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
}

/*media 750px max Section*/

@media (max-width: 750px) {
  header {
    flex-direction: column;
  }
  #nav-bar {
    flex-direction: column;
    text-align: center;
  }
  .icon {
    display: none;
  }
  .item-info {
    width: 100%;
    height: 140px;
    text-align: center
  }
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
}