html {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*Welcome Section*/

#welcome-section {
  height: 100vh;
  width: 100%;
  background-color: #76949f;
  color: #ccd5ae;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 5px;
  word-spacing: 5px;
  margin-bottom: 0.3em;;
}

#welcome-section p {
  font-size: 1.8em;
  margin: 0;
  color: #d8f3dc;
}

/*Navbar Section*/

#navbar {
  background-color: #86bbbd;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-items {
  margin:auto;
  max-width: 50%;
  display: flex;
  justify-content: space-around;
}

#navbar a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/*Projects Section*/

#projects {
  background-color: #22223b;
  color: #d8f3dc;
  text-align: center;
  padding: 6em 2em;
}

#projects h2 {
  font-size: 35px;
  word-spacing: 5px;
  border-bottom: 1px solid #fff;
  max-width: 600px;
  margin: 0 auto 2em auto;
}

.grid {
  display: grid;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.project-tile {
  background-color: #4a4e69;
  text-decoration: none;
  border-radius: 3px;
  color:#fff;
}

img {
  display: block;
  width: 100%;
  height: auto
}

.project-tile p {
  font-size: 20px;
  padding: 20px;
}

/*Contact Section*/

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  background-color: #212529;
  color: white;
  width: 100%;
  height: 70vh;
}

#contact h2 {
  font-size: 45px;
  word-spacing: 5px;
  margin-bottom: 10px;
}

/*Footer Section*/

footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-top: 2px solid #fff;
  background-color: #212529;
  color: white;
}

footer p {
  margin: 20px;
}


@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  #projects {
    padding: 2em;
  }
}