body {
  background-color: #fff;
  text-align: center;
  margin: 0;
  font-family: monospace;
}

#main {
  background-color: #e9ecef;
  border-radius: 8px;
  margin: 25px 10px;
  padding: 20px;
}

/** Title part **/

#title {
  font-size: 35px;
  text-transform: uppercase;
}

main p {
  font-size: 14px;  
}

/** Figure caption part **/

#img-div {
	background-color: #fff;
	margin:0;
	padding: 15px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

#img-caption {
	display: block;
	margin-top: 10px;
}

/** TimeLine part **/

section h2 {
	margin: 30px 0;
}

.list {
	max-width: 600px;
	margin: auto;
	text-align: left;
}

.text {
	max-width: 600px;
	margin: 35px auto 35px auto;
	text-align: left;
}